<!DOCTYPE html>
<html>
<head>
  <title>Nyauth</title>
  <%= stylesheet_link_tag    "nyauth/application", media: "all" %>
  <%= javascript_include_tag "nyauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
